@import '../base/ui.scss';
@import '../base/variables.scss';

.AddressForm {
  .radio-button-group {
    margin-top: 50px;

    .radio-button {
      @extend .ui-radio-button;
      margin-right: 20px;
      font-size: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .address-input {
    margin-top: 40px;

    input {
      width: 100%;
      height: 60px;
      border: none;
      color: $blue;
      margin-top: 10px;
      background-color: transparent;

      &::placeholder {
        // color: $grey;
        color: $white;
      }

      &:focus {
        outline: 3px dashed $orange;
      }
    }
  } 

  .radio-button-group,
  .address-input {
    .heading-05 {
      margin-bottom: 10px;
      text-align: left;
      color: darkred;
    }
  }

  .submit-button {
    padding: 8px 15px;
    margin-top: 50px;
    background-color: transparent;

    .heading-04 {
      text-decoration: underline;
    }
  }
}