.result-container {
  width: 100%;
  height: auto;

  .item {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: pink;
    color: #000;
    padding: 0 20px;
    height: 80px;
    width: 100%;
    text-align: left;
  }
}