@import '../base/ui.scss';

.UnitForm {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;

  .radio-button { 
    @extend .ui-radio-button;
    margin-right: 10px;
    font-size: 18px;
    color: #a1a1a1;

    &:last-child {
      margin-right: 0;
    }

    &.checked {
      color: #000;
    }
  }
}