.UnitForm {
  position: absolute;
    top: 0;
    right: 0;
    padding: 20px;

    .radio-button {
      display: inline-block;
      margin-right: 10px;
      cursor: pointer;
      font-family: 'Fira Sans', sans-serif;
      font-size: 18px;
      color: #a1a1a1;

      &:last-child {
        margin-right: 0;
      }

      input {
        display:none;
      }

      &.checked {
        color: #000;
      }
    }
}