@import './base/reset';

@import './components/section';

.heading-01 {
  font-family: 'Fira Sans', sans-serif;
  font-style: italic;
  font-size: 62px;
  font-weight: 500;
  line-height: 1.1;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}




